.wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.answer:last-child {
  animation: highlight-border 3s forwards;
}
@keyframes highlight-border {
  0% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
  
}