.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coins {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  &__list {
    grid-column: span 2;
  }
}
