@import '../../assets/styles/constants';
@import '../../assets/styles/mixins';
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  @include common-container;
}

.main {
  min-width: 80vw;
  position: relative;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 3rem;
}
.aside {
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--base);
}

.coins {
  display: flex;
  gap: 4rem;
  padding: 1rem;
}
