@import '../../assets/styles/constants';
@import '../../assets/styles/mixins';

.main {
  position: relative;
  align-self: start;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 3rem;
}
.aside {
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--base);
}

.coins {
  display: flex;
  gap: 4rem;
  padding: 1rem;
}
