@import '../../assets/styles/constants';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copyright {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $accent;
      }
    }
  }
  
}