@import '../../assets/styles/mixins';
@import '../../assets/styles/constants';

.coins {
  padding: 20px 32px;
  background-color: $base;
  border-radius: 25px;

  &__table {
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #2b2c3b;
      &:last-child {
        border-bottom: none;
      }
    }

    th {
      text-transform: uppercase;
      text-align: left;
      padding: 24px 10px;
    }

    td {
      padding: 24px 10px;
    }
  }

  &__name {
    @include H4;
    text-align: left;

    & a {
      @include H4;
      text-align: left;
      text-decoration: none
    }
  }

  &__symbol {
    @include H4;
    text-align: left;
    color: $accent;
  }
  &__price,
  &__rank {
    text-align: right;
  }
  &__rank,
  &__price,
  &__volume {
    color: $text-primary;
  }
}
