@import '../../assets/styles/mixins';
@import '../../assets/styles/constants';

.coins {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coin {
  display: flex;
  gap: 1rem;

  &__name {
    @include H3;
    text-align: left;

    & a {
      @include B1;
      text-align: left;
      text-decoration: none;
      color: $text-primary;
    }
    & a:hover {
      color: $accent;
    }
  }
}
