* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  color: var(--text-secondary);
}

#root {
  max-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-primary);
}

body.light {
  --background-primary: var(--background-primary-light);
  --text-primary: var(--text-primary-light);
  --base: var(--base-light);
}

body.dark {
  --background-primary: var(--background-primary-dark);
  --text-primary: var(--text-primary-dark);
  --base: var(--base-dark);
}

h1 {
  @include H1;
}

h2 {
  @include H2;
}

h3 {
  @include H3;
}

h4 {
  @include H4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  @include common-container;
}
