/*Fonts*/
$font: 'Inter';
$font-size: 16px;
$line-height: 24px;

/* Colors */
$text-primary: #FFFFFF;
$text-secondary: #898CA9;
$background-primary: #2B2C3B;
$accent:  #B982FF;
$gradient-primary: linear-gradient(90deg, #18C8FF 0%, #933FFE 100%);

/* Break points */
$small-mobile: 321px;
$mobile: 660px;


