/*Fonts*/
$font: 'Inter';
$font-size: 16px;
$line-height: 24px;

/* Colors */
$text-primary: #ffffff;
$text-secondary: #898ca9;
$background-primary: #0b0b0f;
$base: #1a1b23;
$accent: #b982ff;
$gradient-primary: linear-gradient(90deg, #18c8ff 0%, #933ffe 100%);
$gradient-secondary: linear-gradient(90deg, #933ffe 0%, #18c8ff 100%);

/* Break points */
$small-mobile: 321px;
$mobile: 660px;
